{% extends 'base.html' %}

{% block script %}
<script type="text/javascript">
    function createRental(bookId) {
        $.ajax({
            method     : "POST",
            url        : "{{ url_for('rental.book_rental') }}",
            contentType: "application/json",
            data       : JSON.stringify({
                book_id : Number(bookId)
            })
        }).done(function(res) {
            alert(res.message)
            window.location.reload();
        }).fail(function (res) {
            console.log(res)
            alert(res.responseJSON.message)
        });
    }

</script>
{% endblock %}
{% block content %}
<div>
    <div class="row">
        <h1 class="ml-2 mb-3"><i class="fas fa-book"></i>&nbsp;&nbsp;전체 도서 목록</h1>
    </div>
</div>
<div id="book-list" class="row justify-content-center">
    {% if books %}
        {% for book in books.items %}
        <form class="card col-md-3 mx-4 my-3 p-1" method="POST" action="{{ url_for('rental.book_rental') }}">
            <div class="card-body">
                {% if book.id == 1 %}
                <div class="book-image text-center">
                    <img src="{{ book.image_path }}" class="img-fluid" alt="책 이미지" style="width: 190px; height: 190px;" />
                </div>
                {% else %}
                <div class="book-image text-center">
                    <img src="{{ book.image_path }}" class="img-fluid" alt="책 이미지" style="width: 160px; height: 190px;" />
                </div>
                {% endif %}
                <h2 class="card-title mt-3 mb-1 p-2 text-center font-weight-bolder"><a href="{{ url_for('books.book_detail', book_id=book.id) }}">{{ book.book_name }}</a></h2>
            </div>
            <div class="text-center">
                <div class="star-rating">
                    <div class="text-dark pb-2">< 평점 ></div>
                    <div class="star-icon">
                        {% for i in range(1, book.rating + 1) %}
                        <input type="radio" name="rating" id="rating{{i}}" value="5">
                        <label for="rating{{i}}" class="fa fa-star active disabled" style="cursor:default" aria-disabled="true" onclick="return false;"></label>
                        {% endfor %}
                        {% for i in range(book.rating + 1, 6) %}
                        <input type="radio" name="rating" id="rating{{i}}" value="5">
                        <label for="rating{{i}}" class="fa fa-star disabled" style="color: #d8d4d4;" style="cursor:default" aria-disabled="true" onclick="return false;"></label>
                        {% endfor %}
                    </div>
                </div>
                {% if g.user %}
                <div class="text-center my-1">남은 권수 :&nbsp;&nbsp;{{ book.stock_num }}권</div>
                    {% if book.stock_num %}
                    <button type="button" class="btn btn-info w-75 my-2" onclick="createRental(`{{ book.id }}`);">대여하기</button>
                    {% else %}
                    <button class="btn btn-secondary w-75 my-2 disabled shadow-none" style="cursor:default" aria-disabled="true" onclick="return false;" >대여불가</button>
                    {% endif %}
                {% endif %}
            </div>
        </form>
        {% endfor %}
    {% else %}
    <article class="card col-md-3 mx-3 my-3 p-3">
        <div class="card-body">
            <h2 class="card-title mt-3 mb-1 p-2 text-center font-weight-bolder">등록된 도서가 없습니다.</h2>
        </div>
    </article>
    {% endif %}
</div>
<ul class="pagination justify-content-center my-3 p-3">
    {% if books.has_prev %} 
    <li class="page-item">
        <a class="page-link" href="{{ url_for('books.book_list', page=books.prev_num) }}">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    {% for page_num in books.iter_pages() %}
        {% if page_num %} 
            {% if page_num == books.page %} 
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#" onclick="return false;">{{ page_num }}</a>
            </li>  
            {% else %}
            <li class="page-item">
                <a class="page-link" href="{{ url_for('books.book_list', page=page_num) }}">{{ page_num }}</a>
            </li>
            {% endif %}
        {% else %}
            <li class="disabled">
                <a class="page-link" href="#">...</a>
            </li>
        {% endif %}
    {% endfor %}
    {% if books.has_next %} 
    <li class="page-item">
        <a class="page-link" href="{{ url_for('books.book_list', page=books.next_num) }}">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
{% endblock %}