{% extends 'base.html' %}

{% block content %}
<p>
<div class="row">
    <h1 class="ml-2 mb-3"><i class="fas fa-window-restore"></i>&nbsp;&nbsp;{{g.user.username}}님의 찜한 도서 목록</h1>
</div>
</p>
<div class="jumbotron row justify-content-center">
    {% if books %}
    {% for book in books %}
    <div class="card col-md-3 mx-3 my-3 p-3">
        <div class="card-body">
            <div class="book-image text-center">
                <img src="{{ book.image_path }}" class="img" alt="책 이미지" />
            </div>
            <h2 class="card-title mt-3 mb-1 p-2 text-center font-weight-bolder"><a
                    href="{{ url_for('api.books_book', book_id=book.id) }}">{{ book.book_name }}</a></h2>
        </div>
        <div class="text-center">
            <div class="text-center my-1"><b>출간일 :</b>&nbsp;&nbsp;{{ book.published_at.strftime('%Y.%m.%d') }}</div>
            <div class="text-center my-1"><b>독자 평점 :</b>&nbsp;&nbsp;{{ book.rating }}점</div>
            <a href="{{ url_for('api.books_book', book_id=book.id) }}">
                <button type="submit" class="btn btn-info w-75 my-2">책 보러 가기</button>
            </a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <article class="card col-md-3 mx-3 my-3 p-3">
        <div class="card-body">
            <h2 class="card-title p-2 text-center font-weight-bolder">도서 목록을 가져올 수 없습니다.</h2>
        </div>
    </article>
    {% endif %}
</div>
{% endblock %}