{% extends 'base.html' %}

{% block script %}
<script type="text/javascript">
    function updatePassword() {
        $.ajax({
            method     : "POST",
            url        : "{{ url_for('api.user_new_password') }}",
            contentType: "application/json",
            data       : JSON.stringify({
                password  : $('#password').val(),
                repassword  : $('#repassword').val()
            })
        }).done(function (res) {
            alert(`비밀번호가 변경되었습니다. 다시 로그인해주세요.`)
            location.href = "{{ url_for('api.main_index') }}"
        }).fail(function (res) {
            if (res.responseJSON !== undefined) {
                const json_data = res.responseJSON;
                if (json_data.hasOwnProperty('password')) {
                    $('#validate-password').empty();
                    $('#validate-password').append(`<div id="password-caption" class="figure-caption m-1 text-danger">${json_data.password}</div>`);
                } else {
                    $('#password-caption').addClass('d-none');
                }

                if (json_data.hasOwnProperty('repassword')) {
                    $('#validate-repassword').empty();
                    $('#validate-repassword').append(`<div id="repassword-caption" class="figure-caption m-1 text-danger">${json_data.repassword}</div>`);
                } else {
                    $('#repassword-caption').addClass('d-none');
                } 
            }
        });
    }
</script>
{% endblock %}
{% block content %}
<div class="auth-form login-form justify-content-center">
    <div class="my-1">
        <h1 class="col-md-12 mb-4 text-center">비밀번호 변경</h1>
    </div>
    <form class="form" method="POST">
        <div class="form-group mb-3" style="margin-top: 40px;">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" id="password" placeholder="변경할 비밀번호를 입력해주세요" name="password">
            <div id="validate-password"></div>
        </div>
        <div class="form-group">
            <label>비밀번호 확인</label>
            <input type="password" class="form-control" id="repassword" placeholder="비밀번호를 확인합니다" name="repassword">
            <div id="validate-repassword"></div>
        </div>
        <div class="form-group text-center" style="margin-top: 50px;">
            <button type="button" class="btn btn-success w-75 mt-2" onclick="updatePassword();">변경하기</button>
            <div id="validate-repassword"></div>
        </div>
    </form>
</div>
{% endblock %}