<div class="star-rating mt-2 mb-1 mr-3 float-right">
    <div class="star-icon">
        <input type="radio" name="rating" id="rating0" value="0" checked>
        <label for="rating0" class="fa fa-star d-none"></label>
        <input type="radio" name="rating" id="rating1" value="1">
        <label for="rating1" class="fa fa-star"></label>
        <input type="radio" name="rating" id="rating2" value="2">
        <label for="rating2" class="fa fa-star"></label>
        <input type="radio" name="rating" id="rating3" value="3">
        <label for="rating3" class="fa fa-star"></label>
        <input type="radio" name="rating" id="rating4" value="4">
        <label for="rating4" class="fa fa-star"></label>
        <input type="radio" name="rating" id="rating5" value="5">
        <label for="rating5" class="fa fa-star"></label>
    </div>
</div>