@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');

@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #474747;
    text-decoration: none !important;
}

a:hover {
    color: #10b9b0;
}

li {
    list-style: none;
}

.navbar {
    height: 65px;
    font-family: 'NEXON Lv1 Gothic OTF', 'Noto Sans KR', sans-serif;
}

.navbar-brand,
.navbar-text {
    color: #3b3b3b;
}

.navbar-nav .nav-link {
    color: #474747;
}

.navbar-brand:hover,
.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    color: #afa998;
}

.container {
    margin-top: 100px;
    color: #2f2f2f;
    font-family: 'NEXON Lv1 Gothic OTF', 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    word-break: keep-all;
}

.container h1 {
    font-size: 20px;
}

.img {
    max-width: 100px;
    height: 100px;
}

.card h2 {
    font-size: 14px;
}

.card-body {
    margin-bottom: 0;
    padding-bottom: 1px;
}

.jumbotron .title {
    margin-left: -30px;
}

.jumbotron .description {
    font-size: 16px;
    line-height: 1.7;
}

.page-item a {
    color: black;
    padding: 8px 16px;
}

.comment-border {
    margin: 0 35px 0 8px;
    border-bottom: 1px solid #c0c0c0;
}

.star-rating {
    padding: 10px;
}

.star-rating div {
    color: #5bc0de;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.star-rating input {
    display: none;
}

.star-rating input+label {
    font-size: 25px;
    text-shadow: 1px 1px 0 #d8d4d4;
    cursor: pointer;
}

.star-rating input:checked + label~label {
    color: #d8d4d4;
}

.star-rating label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}
