@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    color: #474747;
    text-decoration: none !important;
}

a:hover {
    color: #10b9b0;
}

li {
    list-style: none;
}

input::placeholder,
textarea::placeholder {
    font-size: 13px;
}

.form-control {
    font-size: 14px;
}

.btn {
    font-size: 13px;
}

.btn-info {
    background-color: #10b9b0;
}

.navbar {
    height: 63px;
    box-shadow: .04rem .05rem #dfdfdf;
    font-family: 'NEXON Lv1 Gothic OTF';
}

.navbar-brand {
    font-size: 20px;
}

.navbar-brand,
.navbar-text {
    color: #3b3b3b;
}

.navbar-brand:hover {
    color: #10b9b0;
}

.navbar-nav .nav-link {
    font-size: 15px;
    color: #474747;
}

.navbar-toggler i {
    font-size: 23px;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link,
.dropdown a:hover {
    color: #afa998;
}

.dropdown-menu {
    border : 1px solid #c4d8d8;
}

.dropdown-menu li a.nav-link {
    margin-left: 10px;
    font-size: 13px;
}

.container {
    margin-top: 100px;
    color: #2f2f2f;
    font-family: 'NEXON Lv1 Gothic OTF', 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    word-break: keep-all;
}

.container h1 {
    font-size: 18px;
}

.img {
    max-width: 100px;
    height: 100px;
}

.card {
    border-radius: 10px;
    box-shadow: 0 5px 11px 0 rgba(228, 228, 228, 0.18),
        0 4px 15px 0 rgba(207, 207, 207, 0.15);
}

.card h2 {
    font-size: 14px;
}

.card-body {
    margin-bottom: 0;
    padding-bottom: 1px;
}

.pagination {
    font-size: 11px;
}

.page-item a {
    color: black;
    padding: 8px 16px;
}

.page-item.active .page-link {
    background-color: #10b9b0;
    border-color: #10b9b0;
}

.page-item.active a {
    color: #10b9b0;
}

.auth-form {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 20px 70px;
    border: 1px solid #e6e6e6;
    border-radius: 15px;
}

.login-form {
    margin-top: 150px;
    padding: 40px 70px;
}

.jumbotron {
    background-color: #eaf5f5;
    border-radius: 20px;
}

.jumbotron .title {
    margin-left: -30px;
}

.jumbotron .description {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.8;
}

.book-detail .card-text ul li {
    line-height: 1.6;
    font-size: 20px;
}

#bar-chart {
    margin: 0 auto;
    padding : 10px;
}

#bar-chart text {
    font-family: 'NEXON Lv1 Gothic OTF', 'Noto Sans KR', sans-serif;
}

.comment-border {
    border-bottom: 1px solid #e9e8e8;
    border-radius: 10px;
}

.star-rating {
    padding: 10px;
}

.star-rating div {
    color: #10b9b0;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.star-rating input {
    display: none;
}

.star-rating input+label {
    font-size: 25px;
    text-shadow: 1px 1px 0 #d8d4d4;
    cursor: pointer;
}

.star-rating input:checked+label~label {
    color: #d8d4d4;
}

.star-rating label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}

.stars-rated {
    margin-top: -1px;
    margin-left: 8px;
}

.stars-rated i,
.stars-rated i.star-selected {
    margin-left: -4px;
    color: #d8d4d4;
    font-size: 10px;
}

.stars-rated i.star-selected {
    color: #10b9b0;
}

.comment-edit-btns a {
    font-size: 13px;
}


.footer {
    margin-top: 150px;
    padding-top: 30px;
    padding-bottom: 0px;
    font-family: 'NEXON Lv1 Gothic OTF', 'Noto Sans KR', sans-serif;
    border-radius: 0;
}

.footer a {
    padding-right: 10px;
    font-size: 25px;
}

.footer p {
    margin-top: 8px;
    margin-bottom: 0;
    padding-bottom: 40px;
    color: #8a8a8a;
    font-size: 14px;
}
