{% extends 'base.html' %}

{% block content %}
<p>
<div class="row">
    <h1 class="mb-3">반납하기</h1>
</div>
</p>
<div class="jumbotron row justify-content-center">
    {% if rental_infos %}
        {% for info in rental_infos %}
        <form class="card col-md-3 mx-3 my-3 p-3" method="POST" action="{{ url_for('rental.books_return') }}">
            <input type="hidden" class="d-none" name="book" value="{{ info.book.id }}">
            <div class="card-body">
                <div class="book-image text-center">
                    <img src="{{ info.book.image_path }}" class="img" alt="책 이미지" />
                </div>
                <h2 class="card-title mt-3 mb-1 p-2 text-center font-weight-bolder"><a href="{{ url_for('books.get_book', book_id=info.book.id) }}">{{ info.book.book_name }}</a></h2>
            </div>
            <div class="text-center">
                <div class="text-center my-1">{{ info.rented_at }}</div>
                <button type="submit" class="btn btn-info w-75 my-2">반납하기</button>
            </div>
        </form>
        {% endfor %}
    {% else %}
    <article class="card col-md-3 mx-3 my-3 p-3">
        <div class="card-body">
            <h2 class="card-title p-2 text-center font-weight-bolder">반납할 도서가 없습니다.</h2>
        </div>
    </article>
    {% endif %}
</div>
{% endblock %}