{% extends 'base.html' %}

{% block script %}
<script type=text/javascript>
    function signup() {
        $.ajax({
            method     : "POST",
            url        : "{{ url_for('auth.signup') }}",
            contentType: "application/json",
            data       : JSON.stringify({
                username  : $('#username').val(),
                email     : $('#email').val(),
                password  : $('#password').val(),
                repassword: $('#repassword').val()
            })
        }).done(function (res) {
            alert(`반갑습니다 ${res.username}님!  회원가입에 성공하였습니다 :)`)
            location.href = "{{ url_for('auth.login') }}"
        }).fail(function (res) {
            if (res.responseJSON !== undefined) {
                const json_data = res.responseJSON;
                if (json_data.hasOwnProperty('username')) {
                    $('#validate-username').empty();
                    $('#validate-username').append(`<div id="username-caption" class="figure-caption m-1 text-danger">${json_data.username}</div>`);
                } else {
                    $('#username-caption').addClass('d-none');
                }

                if (json_data.hasOwnProperty('email')) {
                    $('#validate-email').empty();
                    // 이메일이 비어있어서 올바른 이메일 형식이 아닌 경우, 에러 메시지가 2개 넘어옴
                    // 2개 중 '필수 입력 항목입니다.'를 출력하기 위해 조건문을 사용함 -> 추후 리팩토링
                    if (json_data.email.length === 2){
                        $('#validate-email').append(`<div id="email-caption" class="figure-caption m-1 text-danger">${json_data.email[1]}</div>`);
                    } else {
                        $('#validate-email').append(`<div id="email-caption" class="figure-caption m-1 text-danger">${json_data.email}</div>`);
                    }
                } else {
                    $('#email-caption').addClass('d-none');
                } 

                if (json_data.hasOwnProperty('password')) {
                    $('#validate-password').empty();
                    $('#validate-password').append(`<div id="password-caption" class="figure-caption m-1 text-danger">${json_data.password}</div>`);
                } else {
                    $('#password-caption').addClass('d-none');
                }

                if (json_data.hasOwnProperty('repassword')) {
                    $('#validate-repassword').empty();
                    $('#validate-repassword').append(`<div id="repassword-caption" class="figure-caption m-1 text-danger">${json_data.repassword}</div>`);
                } else {
                    $('#repassword-caption').addClass('d-none');
                } 
            }
        });

        
    }
</script>
{% endblock %}
{% block content %}
<div class="auth-form justify-content-center">
    <div class="my-2">
        <h1 class="col-md-12 mb-4 text-center">회원가입</h1>
    </div>
    <form class="form" method="POST">
        <div class="form-group">
            <label for="username">이름</label>
            <input type="text" class="form-control" id="username" placeholder="사용자 이름" name="username">
            <div id="validate-username"></div>
        </div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" class="form-control" id="email" placeholder="bobo@naver.com" name="email">
            <div id="validate-email"></div>
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" id="password" placeholder="비밀번호" name="password">
            <div id="validate-password"></div>
        </div>
        <div class="form-group">
            <label>비밀번호 확인</label>
            <input type="password" class="form-control" id="repassword" placeholder="비밀번호 확인" name="repassword">
            <div id="validate-repassword"></div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-info w-100 mt-2" onclick="signup();">등록하기</button>
        </div>
    </form>
</div>
{% endblock %}